header {
  background-color: teal;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
header nav ul {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

header nav ul li a {
  color: white;
}
header nav ul li a.active {
  color: orange;
  text-decoration: underline;
}
